# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/
env/
ent1/
ent*/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak

catboost_info/
models/*.pkl